In [ ]:
'''1.Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1 '''

In [ ]:
def count_characters(string):
  counts = {}
  for char in string:
    if char in counts:
      counts[char] += 1
    else:
      counts[char] = 1
  return counts

string = input("Enter a string value: ")
counts = count_characters(string)

Enter a string value: 21

In [ ]:
'''2.Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34'''

In [ ]:
def findmax(a,b,c):
  return max(a,b,c)
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))
if a>b and a>c:
  print(a,'is the maximum')
elif b>a and b>c:
  print(b,'is the maximum')
else:
  print(c,'is the maximum')

Enter the first number: 6
Enter the second number: 8
Enter the third number: 4
8.0 is the maximum

In [ ]:
'''7.Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15'''

In [ ]:
def sum_of_squares(numbers):
  sum_of_squares = 0
  for number in numbers:
    sum_of_squares += number ** 2
  return sum_of_squares

numbers = [2, 1, 3, 1]
print(sum_of_squares(numbers))

15

In [ ]:
'''3. Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8 '''

In [ ]:
def exponent(base, exp):
    return base ** exp
base = float(input("Enter the base: "))
exp = float(input("Enter the exp: "))
result = exponent(base, exp)
print("the output is :",result)

Enter the base: 4
Enter the exp: 6
the output is : 4096.0

In [ ]:
'''4. Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.'''

In [ ]:
def sumofcube(a):
  sum=0
  if a>0:
    for i in range(1,a):
      sum+=i**3
  else:
    print("The given number is not a positive integer!")
  return sum
a=int(input("Enter the number: "))
b=sumofcube(a)
print("The sum of positive squared smaller than the specified number is:",b)

Enter the number: 8
The sum of positive squared smaller than the specified number is: 784

In [ ]:
'''5.Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz'''

In [ ]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
'''6.Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '''

In [ ]:

def commonno(L):
  maxcount=0
  mostfrequent=0
  for i in L:
    count=L.count(i)
    if count>maxcount:
      mostfrequent=i
      maxcount=count
    elif maxcount==1:
      print("There is no frequent number!")
      break
  return mostfrequent,maxcount

L=[]
n=int(input("Enter the amount of numbers to be inputted into the list: "))
for i in range(0,n):
  a=int(input("Enter the Number: "))
  L.append(a)
b,c=commonno(L)
if c!=1:
  print("The most frequent item is:",b,"and its count is:",c)

Enter the amount of numbers to be inputted into the list: 3

In [ ]:
'''8.Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd

In [ ]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [ ]:
'''9. Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5 '''

In [ ]:
def convert_temprature(fahrenheit):
  celsius=(fahrenheit-32) * 5/9
  return celsius
  fahrenheit =41
  celsius=convert_temprature(fahrenheit)
  print("temprature in celsius:",celsius)

In [ ]:
'''10.Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6'''

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

n = int(input("Enter a non-negative integer: "))
print(factorial(n))